<!DOCTYPE HTML>

<html>

<head>
	<title>ResQconnect.com</title>
	<meta charset="utf-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
	<link rel="stylesheet" href="assets/css/main.css" />
	<link rel="shortcut icon" href="Icon.PNG" type="image/x-icon">
</head>

<body class="is-preload">

	<!-- Wrapper -->
	<div id="wrapper">

		<!-- Main -->
		<div id="main">
			<div class="inner">

				<!-- Header -->
				<header id="header">
					<a href="index.html" class="logo"><strong>
							<div class="grd">Dumbledore's Army</div>
						</strong> <img class="logo07" src="Icon.PNG" alt="" srcset=""></a>
					<ul class="icons">
						<li><a href="#" class="icon brands fa-twitter"><span class="label">Twitter</span></a></li>
						<li><a href="#" class="icon brands fa-facebook-f"><span class="label">Facebook</span></a></li>
						<li><a href="#" class="icon brands fa-snapchat-ghost"><span class="label">Snapchat</span></a>
						</li>
						<li><a href="#" class="icon brands fa-instagram"><span class="label">Instagram</span></a></li>
						
					</ul>
				</header>

				<!-- Banner -->
				<section id="banner">
					<div class="content">
						<header>
							<h1>WHY TO FEAR <br />
								WHEN WE ARE HERE...</h1>
							<p>A firey and trusty team can take you out from anywhere</p>
						</header>
						<p>A rescue squad is an emergency service that provides technical rescue services, and may also
							provide emergency medical services and firefighting services. Rescue squads may be
							standalone organizations or an integrated part of fire departments or emergency medical
							services.

							Title: ResQConnect-Your Lifeline in Times of Crisis
							Welcome to ResQConnect, your dedicated online resource for emergency and rescue services. At
							ResQConnect, we understand that when crises strike, every second counts. That's why we've
							created a one-stop platform to connect you with the vital assistance and support you need in
							times of emergencies.
							Our mission is simple: to save lives and provide a proper aid when it matters most. Whether
							you're facing a natural disaster, a unfortunate accident, or any mishappening
							ResQConnect is here to help.</p>
						<ul class="actions">
							<li><a href="#" class="button big">Learn More</a></li>
						</ul>
					</div>
					<span class="image object">
						<img src="https://imgs.search.brave.com/4gMvT15F1yw_V9YhUszv74y0_Fpx6tgwRZ387EUELQM/rs:fit:500:0:0/g:ce/aHR0cHM6Ly91cGxv/YWQud2lraW1lZGlh/Lm9yZy93aWtpcGVk/aWEvY29tbW9ucy8x/LzEwL0lyaXNoX0Nv/YXN0Z3VhcmRfSGVs/aWNvcHRlcl9STkxJ/X1Jlc2N1ZV9EZW1v/bnN0YXJ0aW9uLmpw/Zw"
							alt="" />
					</span>
				</section>

				<!-- Section -->
				<section>
					<header class="major">
						<h2>NGO's</h2>
					</header>
					<div class="features">
						<article>
							<span class="icon fa-gem"></span>
							<div class="content">
								<h3>RAPID RESPONSE</h3>
								<p>Rapid Response – Rapid Response, India’s top and award-winning organisation, offers
									disaster response and preparedness services all throughout India. As a disaster
									relief organisation, they provide food, education, healthcare, livelihood, and
									housing programmes to help people survive and restore their lives..</p>
							</div>
						</article>
						<article>
							<span class="icon solid fa-paper-plane"></span>
							<div class="content">
								<h3>CARE INDIA</h3>
								<p> Care India is a non-profit organisation that helps communities create capacity in
									order to empower women and girls who are underprivileged or marginalized. Our
									long-term and comprehensive interventions in Health, Livelihood, Education, and
									Disaster Relief & Resilience offer creative answers to long-standing development
									issues.</p>
							</div>
						</article>
						<article>
							<span class="icon solid fa-rocket"></span>
							<div class="content">
								<h3>HELP AGE INDIA</h3>
								<p>Help Age India – Help Age India has always been one of the finest bodies operating
									within the non-governmental sector with its goals set up in education, disaster
									relief, and mitigation, old-age services, etc..</p>
							</div>
						</article>
						<article>
							<span class="icon solid fa-signal"></span>
							<div class="content">
								<h3>SMILE FOUNDATION</h3>
								<p> Every year, the monsoons wreak havoc on Assam. However, the region is currently
									experiencing flooding and landslides as a result of exceptionally heavy pre-monsoon
									rainfall. The Smile Foundation has taken the initiative to offer dry meals, hygiene
									and sanitation kits, and critical kits to individuals in need..</p>
							</div>
						</article>
					</div>
				</section>

				<!-- Section -->
				<section>
					<header class="major">
						<h2>Natural/man-Made calamities</h2>
					</header>
					<div class="posts">
						<article>
							<a href="#" class="image"><img
									src="https://imgs.search.brave.com/ZczAJ8CrgDOqbYbYH9j1qkOyj9EopiHmMjsoo_fM8lE/rs:fit:500:0:0/g:ce/aHR0cHM6Ly9tZWRp/YS5nZXR0eWltYWdl/cy5jb20vaWQvNDgy/NzI4OTMxL3Bob3Rv/L2VhcnRocXVha2Uu/anBnP3M9NjEyeDYx/MiZ3PTAmaz0yMCZj/PUNIUE1pZ1dJdGVx/Q3NiLUZGX3FKVlhG/QWlvdkZsNWRnT1p1/YkNLblR2S2c9"
									alt="" /></a>
							<h3>EARTHQUAKE</h3>
							<p>An earthquake is a sudden and violent shaking of the Earth's surface, typically caused by
								the movement of tectonic plates beneath the Earth's crust. Earthquake can vary in
								intensity and cause damage to buildings, infrastructure, and landscapes.Earthquakes can
								occur anywhere in the world making them a significant natural disaster with the
								potential for widespread impact..</p>
							<ul class="actions">
								<li><a href="#" class="button">More</a></li>
							</ul>
						</article>
						<article>
							<a href="#" class="image"><img
									src="https://imgs.search.brave.com/LtmhZC_TM8PylCqkT2pwZydrHL_MUxiQ_BTkZOu6F9E/rs:fit:500:0:0/g:ce/aHR0cHM6Ly9pbWFn/ZXMuaW5kaWFuZXhw/cmVzcy5jb20vMjAx/Ny8wOS9sYW5kc2xp/ZGUtc2hpbWxhLTEx/LmpwZw"
									alt="" /></a>
							<h3> LANDSLIDES</h3>
							<p>A landslide is a sudden and often rapid downward movement of rock, soil, and debris on a
								slope or hillside. This natural disaster can be triggered by heavy rainfall,
								earthquakes, volcanic eruptions, or human activities like construction and
								deforestation.</p>
							<ul class="actions">
								<li><a href="#" class="button">More</a></li>
							</ul>
						</article>
						<article>
							<a href="#" class="image"><img
									src="https://imgs.search.brave.com/i7Ww5vWzdh4YpEDYkjE22KkVeWEwXgnrPdo1feyLsy8/rs:fit:500:0:0/g:ce/aHR0cHM6Ly9lMy4z/NjVkbS5jb20vMjIv/MDgvNzY4eDQzMi9z/a3luZXdzLXBha2lz/dGFuLXBha2lzdGFu/LWZsb29kXzU4Nzk3/NzIuanBnPzIwMjIw/ODI5MDc1NDQw"
									alt="" /></a>
							<h3>FLOODS</h3>
							<p>
								A flood is an overflow of water (or rarely other fluids) that submerges land that is
								usually dry. In the sense of "flowing water", the word may also be applied to the inflow
								of the tide. Floods are an area of study of the discipline hydrology and are of
								significant concern in agriculture, civil engineering and public health. Human changes
								to the environment often increase the intensity and frequency of flooding,</p>
							<ul class="actions">
								<li><a href="#" class="button">More</a></li>
							</ul>
						</article>
						<article>
							<a href="#" class="image"><img
									src="https://imgs.search.brave.com/kFTesFUkqNS5ouL4cxbBl7E_JkDQyKLnhFduOhg8Meo/rs:fit:500:0:0/g:ce/aHR0cHM6Ly93d3cu/Z29kaWdpdC5jb20v/Y29udGVudC9kYW0v/Z29kaWdpdC9kaXJl/Y3Rwb3J0YWwvZW4v/Y29udGVudGhtL2N5/Y2xvbmUtcHJvbmUt/YXJlYXMtaW4taW5k/aWEuanBn"
									alt="" /></a>
							<h3>CYCLONE</h3>
							<p>In meteorology, a cyclone is a large air mass that rotates around a strong center of low atmospheric pressure, counterclockwise in the Northern Hemisphere and clockwise in the Southern Hemisphere as viewed from above (opposite to an anticyclone)</p>
							<ul class="actions">
								<li><a href="#" class="button">More</a></li>
							</ul>
						</article>
						<article>
							<a href="#" class="image"><img
									src="https://imgs.search.brave.com/Cn-ih7FrPxai8BmcSfimeqpOriL98rOBbjLSTHsbMME/rs:fit:500:0:0/g:ce/aHR0cHM6Ly9tZWRp/YS5pc3RvY2twaG90/by5jb20vaWQvMTU3/NDc4NjEzL3Bob3Rv/L2ZvcmVzdC1maXJl/LmpwZz9zPTYxMng2/MTImdz0wJms9MjAm/Yz1Nc2RxMUpGb2t5/bjJqT1hzMDdGZjht/UFlibG5Bei1nN2x2/eGw3MU9TdzNzPQ"
									alt="" /></a>
							<h3>FOREST FIRES</h3>
							<p>A forest fire is a fast-spreading and destructive wildfire that occurs in wooded areas,
								grasslands, or forests. These fires can spread rapidly, consuming large areas of land,
								destroying vegetation, and posing significant risks to wildlife, ecosystems, and human
								communities.</p>
							<ul class="actions">
								<li><a href="#" class="button">More</a></li>
							</ul>
						</article>
						<article>
							<a href="#" class="image"><img
									src="https://imgs.search.brave.com/Z9ELhLnPNzgV-8WQyxTVYhCObdaoGvlQKqr37NbAA64/rs:fit:500:0:0/g:ce/aHR0cHM6Ly9pbWFn/ZXMuaW5kaWFuZXhw/cmVzcy5jb20vMjAy/My8wNi9vZGlzaGEt/dHJhaW4tYWNjaWRl/bnQtMS5qcGc_dz02/NDA"
									alt="" /></a>
							<h3>TRAIN ACCIDENTS</h3>
							<p>Classification of railway accidents, both in terms of cause and effect, is a valuable aid in studying rail (and other) accidents to help to prevent similar ones occurring in the future. Systematic investigation for over 150 years has led to the railways' excellent safety record (compared, for example, with road transport)..</p>
							<ul class="actions">
								<li><a href="#" class="button">More</a></li>
							</ul>
						</article>
					</div>
				</section>

			</div>
		</div>

		<!-- Sidebar -->
		<div id="sidebar">
			<div class="inner">

				<!-- Search -->
				<section id="search" class="alt">
					<form method="post" action="#">
						<input type="text" name="query" id="query" placeholder="Search" />
					</form>
				</section>

				<!-- Menu -->
				<nav id="menu">
					<header class="major">
						<h2>Menu</h2>
					</header>
					<ul>
						<li><a href="index.html">DASHBOARD</a></li>
						<li><a href="generic.html">RESCUE</a></li>
						<li><a href="elements.html">NGO</a></li>
						<li>
							<span class="opener">CALAMITIES</span>
							<ul>
								<li><a href="#">EARTHQUAKE</a></li>
								<li><a href="#">LANDSLIDE</a></li>
								<li><a href="#">FLOODS</a></li>
								<li><a href="#">CYCLONE</a></li>
								<li><a href="#">FOREST FIRE</a></li>
							</ul>
						</li>
						<li><a href="#">RELIEF</a></li>
						<li><a href="#">DISASTERS</a></li>
						<li>
							<span class="opener">PRECAUTION MEASURES</span>
							<ul>
								<li><a href="#">EARTHQUAKE</a></li>
								<li><a href="#">FLOODS</a></li>
								<li><a href="#">cOVID-19</a></li>
								<li><a href="#">LANDSLIDES</a></li>
							</ul>
						</li>
						<li><a href="#">SOCIAL MEDIA</a></li>
						<li><a href="#">GET APP</a></li>
						<li><a href="#">FEEDBACK</a></li>
					</ul>
				</nav>

				<!-- Section -->
				<section>
					<header class="major">
						<h2>Latest News</h2>
					</header>
					<div class="mini-posts">
						<article>
							<a href="#" class="image"><img
									src="https://imgs.search.brave.com/X_znQoGg5eeSufTYA45x0zQdEquRn_1wpeeF7sKOfuQ/rs:fit:500:0:0/g:ce/aHR0cHM6Ly9zdGF0/aWMudG9paW1nLmNv/bS90aHVtYi9tc2lk/LTEwMzAzMzU1Myxp/bWdzaXplLTg4MDgy/LHdpZHRoLTQwMCxy/ZXNpemVtb2RlLTQv/MTAzMDMzNTUzLmpw/Zw"
									alt="" /></a>
							<p> The tragic natural calamity occured in shimla due to heavy rainfall in monsoons</p>
						</article>
						<article>
							<a href="#" class="image"><img
									src="https://imgs.search.brave.com/AJBX6N6mY8BE77GiPTBB20zvMsCeMXhFOV0bfu--On8/rs:fit:500:0:0/g:ce/aHR0cHM6Ly9jZG4u/Y25uLmNvbS9jbm5u/ZXh0L2RhbS9hc3Nl/dHMvMTUwNDI3MTUz/NTExLWV4cC1wcmFi/YWwtZ3VydW5nLW5l/cGFsLTAwMDA0MTE0/LWxhcmdlLTE2OS5q/cGc"
									alt="" /></a>
							<p>In 2015 Nepal got hit by the major earthquake specifically in Katmandu which affected
								major parts of india too</p>
						</article>
						<article>
							<a href="#" class="image"><img
									src="https://www.jagranjosh.com/imported/images/E/GK/Uttarakhand-Flash-Floods.jpg"
									alt="" /></a>
							<p>Uttarakhand Flash Flood is among the most disastrous floods in the history of India.
								Uttarakhand received heavy rainfall, massive Landslides in June 2013. .</p>
						</article>
					</div>
					<ul class="actions">
						<li><a href="#" class="button">More</a></li>
					</ul>
				</section>

				<!-- Section -->
				<section>
					<header class="major">
						<h2>Get in touch with us</h2>
					</header>
					<p></p>
					<ul class="contact">
						<li class="icon solid fa-envelope"><a href="#">abhinav.2226cs1165@kiet.edu</a></li>
						<li class="icon solid fa-phone">+91 8318831415</li>
						<li class="icon solid fa-home">KIET<br />
							Ghaziabad</li>
					</ul>
				</section>

				<!-- Footer -->
				<footer id="footer">
					<p class="copyright">&copy; Untitled. All rights reserved. Demo Images: <a
							href="https://unsplash.com">Unsplash</a> Copyrights reserved<a
							href="https://html5up.net"></a>.</p>
				</footer>

			</div>
		</div>

	</div>

	<!-- Scripts -->
	<script src="assets/js/jquery.min.js"></script>
	<script src="assets/js/browser.min.js"></script>
	<script src="assets/js/breakpoints.min.js"></script>
	<script src="assets/js/util.js"></script>
	<script src="assets/js/main.js"></script>

</body>

</html>